@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

*{
    font-family: 'Titillium Web', sans-serif;
    

}
html {
    height : 1000% ;
    weight : 100% ;
}
body {
    background : linear-gradient( 30deg , #005ae0 , #3b0303 , red ) ;
    background-repeat : no-repeat ;
    height : 100% ;
    backdrop-filter: blur(0px 0 0 0px  ) ;
}




input {
    background : linear-gradient( 30deg, #eeffa2 , #2ee600) ;
    border : none ;
    width : 80% ;
    padding : 1%  1%  1%  1% ;
    margin : 1% 1% 1% 1% ;
    
}

label {
    font-size:  25px ;
    
    height : 5% ;
    background-size: 100px ;
}

#submit {
    WIDTH : 10%
}



#div1  {
    box-shadow:2px 3px 30px 20px  rgb(21, 93, 201) ;
    height : 5% ;
    width : 70% ;
    margin: 10%;
    position: relative ;
    color: white ;

}

.suggestions {
    position: absolute ;
    /* margin : 1% 2% ; */
    top : 10px ;
    bottom : 10px ;
    color : white ;
    background : linear-gradient(rgb(0, 119, 255) , rgb(0, 0, 0) ) ;
    box-shadow : 2px 3px 30px 20px  rgba(255, 255, 255, 0.664) ;
}